extends layout

block head
  link(rel='stylesheet', href='/stylesheets/admin.css')
  link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.css')
block content
  #contents
    a(href='#question') Question Page
block libraries
  script(src='/js/wdquiz.admin.js')
