doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    block content
    // vendor libraries
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/underscore.js')
    script(src='/js/vendor/backbone.js')
    script(src='/js/vendor/backbone.marionette.js')
    // original libraries
    script(src='/js/templates.js')
    script(src='/js/wdquiz.js')
    block libraries
