extends layout

block head
  link(rel='stylesheet', href='/stylesheets/question.css')
block content
  #container question page
  audio(id='audio-opening', src='/musics/opening.mp3')
  audio(id='audio-quiz-prepare', src='/musics/quiz_prepare.mp3')
  audio(id='audio-quiz-start', src='/musics/quiz_start.mp3')
  audio(id='audio-quiz-tick', src='/musics/quiz_tick.mp3')
  audio(id='audio-quiz-end', src='/musics/quiz_end.mp3')
  audio(id='audio-answer-count', src='/musics/answer_count.mp3')
  audio(id='audio-correct-answer', src='/musics/correct_answer.mp3')
block libraries
  script(src='/js/vendor/glfx.js')
  script(src='/js/wdquiz.question.js')
