<p>
  <input type="button" id="closeQuestion" class="btn" value="閉じる" />
</p>
<form>
  <input type="hidden" id="question-_id" value="<%= question._id %>" />
  <div class="form-group">
    <label>順番</label>
    <input type="text" id="question-order" value="<%= question.order %>"
           class="form-control" />
  </div>
  <div class="form-group">
    <label>設問内容</label>
    <input type="text" id="question-text" value="<%= question.text %>"
           class="form-control" />
  </div>
  <div class="form-group">
    <label>選択肢</label>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>回答番号</th>
          <th>ラベル</th>
          <th>画像</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(question.choices, function(choice, index) { %>
        <tr>
            <td>
              <input type="text" id="question-choice<%= index %>-number"
                     value="<%= choice.number %>"
                     class="form-control" />
            </td>
            <td>
              <input type="text" id="question-choice<%= index %>-label"
                     value="<%= choice.label %>"
                     class="form-control" />
            </td>
            <td>
              <input type="text" id="question-choice<%= index %>-image"
                     value="<%= choice.image %>"
                     class="form-control" />
            </td>
            <td>
              <input type="button" id="deleteChoice<%= index %>"
                     class="btn deleteChoice" value="削除" />
            </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <input type="button" id="addChoice" class="btn" value="追加" />
  </div>
  <div class="form-group">
    <label>エフェクト</label>
    <select id="question-effect" class="form-control">
      <option value="-1">なし</option>
      <option value="0">LENS_BLUR</option>
      <option value="1">ZOOM_BLUR</option>
      <option value="2">ZOOM_OUT</option>
      <option value="3">HEXAGONAL</option>
    </select>
  </div>
  <div class="form-group">
    <label>正解番号</label>
    <input type="text" id="question-correctNumber"
           value="<%= question.correctNumber %>" class="form-control" />
  </div>
  <div class="form-group">
    <label>制限時間(秒)</label>
    <input type="text" id="question-timeout"
           value="<%= question.timeout %>" class="form-control" />
  </div>
  <p>
    <input type="button" id="saveQuestion"
           class="btn btn-primary" value="保存" />
  </p>
</form>