<div id="quiz">
  <div id="timer"><%= _timer %></div>
  <div id="question"><%= answerableQuestion.question.text %></div>
  <div>
    <table id="choices">
      <% var choices = answerableQuestion.question.choices; %>
      <% var columnCount = Math.ceil(choices.length / 2); %>
      <% _.each(choices, function(choice) { %>
        <% if ((choice.number - 1) % columnCount === 0) { %>
        <tr>
        <% } %>
          <td id="answer_<%= choice.number %>" class="choice">
            <div class="choice-number">
              <%= choice.number %>
            </div>
            <div class="choice-content">
              <%= choice.label %>
            </div>
            <div class="choice-answers">
              <%= answerCount[choice.number] %>
            </div>
          </td>
        <% if ((choice.number + 1) % columnCount === 0) { %>
        </tr>
        <% } %>
      <% }); %>
      <% if (choices.length % 2 === 1) { %>
          <td></td>
        </tr>
      <% } %>
    </table>
  </div>
</div>