<div>
  <div class="modal-overlay">
    <div id="modal" class="modal">
    </div>
  </div>

  <p>設問情報を入力してください。</p>
  <div>
    <input type="button" class="btnAdd" value="追加" />
  </div>
  <table>
    <thead>
      <tr>
        <th>order</th>
        <th>text</th>
        <th>choices</th>
        <th>correctNumber</th>
        <th>timeout</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(questions, function(question) { %>
      <tr>
        <td><%= question.order %></td>
        <td><%= question.text %></td>
        <td>
          <table>
            <% _.each(question.choices, function(choice) { %>
            <tr>
              <td><%= choice.number %></td>
              <td><%= choice.label %></td>
              <td><%= choice.image %></td>
            </tr>
            <% }); %>
          </table>
        </td>
        <td><%= question.correctNumber %></td>
        <td><%= question.timeout %></td>
        <td>
          <div id="<%= question._id %>">
            <input type="button" class="btnEdit" value="編集" />
            <input type="button" class="btnDelete" value="削除" />
          </div>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>