<div>it is base Layout Template !!
  <div id="timer"><%= _timer %></div>
  <div id="question"><%= answerableQuestion.question.text %></div>
  <div id="choices">
    <table>
      <% var choices = answerableQuestion.question.choices; %>
      <% var columnCount = Math.ceil(choices.length / 2); %>
      <% _.each(choices, function(choice) { %>
        <% if (choice.number % columnCount === 0) { %>
        <tr>
        <% } %>
          <td id="answer_<%= choice.number %>">
            <div>
              <%= choice.number %>
            </div>
            <div>
              <%= choice.label %>
            </div>
            <div>
              <%= answerCount[choice.number - 1] %>
            </div>
          </td>
        <% if ((choice.number + 1) % columnCount === 0) { %>
        </tr>
        <% } %>
      <% }); %>
      <% if (choices.length % 2 === 1) { %>
          <td></td>
        </tr>
      <% } %>
    </table>
  </div>
</div>